/* html, body {
    height: 100%;
    display: flex;
    justify-content: center;
}

#all_svg {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    
    outline: 2px solid black;
} */