html, body {
	margin: 0;
	padding: 0;
}

header {
	margin: 0;
	padding: 1px;
	background-color: grey;

	text-align: center;
}

#file_input {
	margin: 20px;
}

#info_container {
	max-width: fit-content;
	margin-left: auto;
    margin-right: auto;
}

#svg_container {
	max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
	margin-top: 5px;
}

#svg_buttons {
	max-width: fit-content;

	margin-left: 5px;
	padding: 5px;
}

#zoom_in {
	margin-left: 5px;
}

#zoom_in, #zoom_out {
    height: 25px;
    width: 25px;

	text-align: center;
	text-decoration: none;
	display: inline-block;

	border: 1px solid black;
	border-radius: 10px;
}

#svg {
	height: 60vh;

    margin: 0;
	padding: 15px;

	border: 3px solid black;
	border-radius: 20px;

	cursor: pointer;
}

#country_info {
	display: none;

	max-width: 100%;
    margin-left: auto;
    margin-right: auto;

	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;

	border: 3px solid black;
	border-radius: 20px;
}

#country_text {
    max-width: fit-content;
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;

    line-height: 150%;

    border: 1px solid grey;
	border-radius: 5px;
}

#country_name {
    max-width: fit-content;
    margin-inline: auto;
}
