html, body {
    height: 100%;
    display: flex;
    justify-content: center;
}

button {
    height: 20px;
    width: 80px;
}

#svg_container {
    height: 748px;
    width: 1760px;
    position: relative;
    padding: 10px;

    border: 3px solid rgb(0, 0, 0);
}

#svg {
    height: 100%;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .container {
  height: 200px;
  position: relative;
  border: 3px solid green;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */